# Packer build outputs
output-*/
*.ova
*.qcow2

# Writable UEFI NVRAM copy created by scripts/build_arm64_local.sh
AAVMF_VARS.fd

# Packer plugin cache / crash logs
.packer.d/
crash.log
packer_cache/
